<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mv="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.zy.restful"></context:component-scan>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <!--response.setContextType("text/html;charset=utf-8")                        -->
                        <value>text/html;charset=utf-8</value>
                        <value>application/json;charset=utf-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--    将图片js css等静态资源排除在外，可提高执行效率-->
    <mvc:default-servlet-handler/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/**.ico"/>
            <mvc:exclude-mapping path="/**.jpg"/>
            <mvc:exclude-mapping path="/**.gif"/>
            <mvc:exclude-mapping path="/**.js"/>
            <mvc:exclude-mapping path="/**.css"/>
            <!--            排除在外的路径-->
            <mvc:exclude-mapping path="/resources/**"/>
            <!--            排除在外的方法-->
            <mvc:exclude-mapping path="restful/**"/>
            <bean class="com.zy.restful.interceptor.MyInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

<!--    日志拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <bean class="com.zy.restful.interceptor.AccessHistoryInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            <mvc:exclude-mapping path="/**.ico"/>-->
<!--            <mvc:exclude-mapping path="/**.jpg"/>-->
<!--            <mvc:exclude-mapping path="/**.gif"/>-->
<!--            <mvc:exclude-mapping path="/**.js"/>-->
<!--            <mvc:exclude-mapping path="/**.css"/>-->
<!--            &lt;!&ndash;            排除在外的路径&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/resources/**"/>-->
<!--            &lt;!&ndash;            排除在外的方法&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="restful/**"/>-->
<!--            <bean class="com.zy.restful.interceptor.MyInterceptor1"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->
</beans>